<style>
    .current-upvote {
        background-color: greenyellow;
    }

    .current-downvote {
        background-color: red;
    }
</style>

<script type="text/javascript">
    const upvote = id => {
        sendVote(id, true)
    }

    const downvote = id => {
        sendVote(id, false)
    }

    const sendVote = (id, isUpvote) => {
        const url = `/item/vote/${isUpvote ? 'up' : 'down'}`

        const item = {
            pileId: '<%= pile.identifier %>',
            itemId: id
        }

        const options = {
            method: 'PUT',
            body: JSON.stringify(item),
            headers: {
                'Content-Type': 'application/json'
            }
        }

        fetch(url, options).then(res => window.location.reload(true))
    }

    const createItem = () => {
        const url = '/item'

        const item = {
            pileId: '<%= pile.identifier %>',
            name: document.getElementById("item-name").value
        }

        const options = {
            method: 'POST',
            body: JSON.stringify(item),
            headers: {
                'Content-Type': 'application/json'
            }
        }

        fetch(url, options).then(res => window.location.reload(true))
    }
</script>

<% const shareUrl = pageUrl + "/piles/" + pile.identifier + "/share" %>
<div>
    <h1><%= pile.name %></h1>
    <p>
        Link to share <input type="button" onclick="navigator.clipboard.writeText('<%= shareUrl %>');" value="Copy to clipboard"/><br/>
        <a href="<%= shareUrl %>"><%= shareUrl %></a>
    </p>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Votes</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        <% pile.items.sort((first, second) => (second.upvotes - second.downvotes) - (first.upvotes - first.downvotes)).forEach(item => { %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.upvotes - item.downvotes %></td>
                <td>
                    <button class="<%= votes[item.identifier] === 'UP' ? 'current-upvote' : '' %>" onclick="upvote('<%= item.identifier %>')">Upvote</button>
                    <button class="<%= votes[item.identifier] === 'DOWN' ? 'current-downvote' : '' %>" onclick="downvote('<%= item.identifier %>')">Downvote</button>
                </td>
            </tr>
        <% }) %>
        <tr>
            <td><input id="item-name"/></td>
            <td></td>
            <td><button onclick="createItem()">New</button></td>
        </tr>
        </tbody> 
    </table>
    <p><a href="/piles">Go to pile list</a></p>
</div>